@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
}

h1, h2, h3 {
    font-family: 'inter', sans-serif;
}

/* Driver signup form */

#signup-section {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2A7B9B;
background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(123, 153, 46, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

#signup-section h2 {
    color: #ffffff;
    margin-top: 25px;
}

#signup-section p {
    padding: 25px 25px 10px 25px;
}

#signup-form {
    text-align: center;
    line-height: 25px;
    display: flex;
    color: #ffffff;
}


.input-div > input {
    width: 250px;
    height: 20px;
    border-radius: 15px;
    border: none;
}

label {
    font-family: 'Lato', sans-serif;
}

.input-div {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 25px;
}

.license-selectors {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.license-selectors label {
    
}